= form_for @menu do |f|
  - if @menu.errors.any?
    #error_explanation
      %h2= "#{pluralize(@menu.errors.count, "error")} prohibited this menu from being saved:"
      %ul
        - @menu.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :first_course_dish_id
    = f.number_field :first_course_dish_id
  .field
    = f.label :second_course_id
    = f.number_field :second_course_id
  .field
    = f.label :drink_id
    = f.number_field :drink_id
  .field
    = f.label :order_id
    = f.number_field :order_id
  .actions
    = f.submit 'Save'
