<% if @menu%>
  <p id="notice">
    <%= notice %>
  </p>
  <%= week_calendar start_date:1.weeks.ago, number_of_weeks: 2 do |date| %>
  <%= date %>
  <%= link_to "menu",  controller: "menus", action: "find_by_date",  date: date %>
  <% end %>
  <p>
    <b>Today is</b>
    <%= @menu.date %>
  </p>
  Menu for today: 
  <%= simple_form_for @menu, name:"order",  :url => url_for(:action => 'create', :controller => 'orders'), :method => 'post' do |f| %>
    <%= f.association :first_course_dishes, as: "first_course_dish", :label_method => lambda { |d| "#{d.name} | #{d.price}" }, as: :radio_buttons %>
    <%= f.association :second_course_dishes, :label_method => lambda { |d| "#{d.name} | #{d.price}" }, as: :radio_buttons %>
    <%= f.association :drinks, label_method: lambda { |d| "#{d.name} | #{d.price}" }, as: :radio_buttons %>
    <%= f.submit "Process order" %>
  <% end %> 

<% else %>
  YAY! NO MENU 4 TODAY YET!
<% end %>