%h1 Listing menus

%table
  %thead
    %tr
      %th Date
      %th First course dish
      %th Second course
      %th Drink
      %th Order
      %th
      %th
      %th

  %tbody
    - @menus.each do |menu|
      %tr
        %td= menu.date
        %td= menu.first_course_dish_id
        %td= menu.second_course_id
        %td= menu.drink_id
        %td= menu.order_id
        %td= link_to 'Show', menu
        %td= link_to 'Edit', edit_menu_path(menu)
        %td= link_to 'Destroy', menu, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Menu', new_menu_path
