<% if @menu %>

<p id="notice">
  <%= notice %>
</p>
<%= week_calendar start_date:2.weeks.ago, number_of_weeks: 2 do |date| %>
  <%= date %>
  <%= link_to "menu",  controller: "menus", action: "find_by_date",  :date => date %>
<% end %>
<p>
  <b>Today is</b>
  <%= @menu.date %>
</p>
Menu for today:
<p>
  <b>First course dishes:</b>
  
  <table>
    <th>Name</th> <th>Price</th>
    
    <tbody>
<% @menu.first_course_dishes.each do |f| %>
      <tr><td> <%= f.name %></td><td> <%= f.price %></td></tr>
    </tbody>
  </table>
  

  <% end %>
</p>
<p>
  <b>Second course dishes:</b>
 
  <table>
    <th>Name</th> <th>Price</th>
    <tbody>
 <% @menu.second_course_dishes.each do |f| %>
      <tr><td> <%= f.name %></td><td> <%= f.price %></td></tr>
    </tbody>
  </table>
  <% end %>
</p>
<p>
<b>Drinks:</b>
 
  <table>
    <th>Name</th> <th>Price</th>
    <tbody>
       <% @menu.drinks.each do |f| %>
      <tr><td> <%= f.name %></td><td> <%= f.price %></td></tr>
    </tbody>
  </table>
  <% end %>
</p>

<% else %>
YAY! NO MENU 4 TODAY YET!
<%end %>