%p#notice= notice

%p
  %b Date:
  = @menu.date
%p
  %b First course dish:
  = @menu.first_course_dish_id
%p
  %b Second course:
  = @menu.second_course_id
%p
  %b Drink:
  = @menu.drink_id
%p
  %b Order:
  = @menu.order_id

= link_to 'Edit', edit_menu_path(@menu)
\|
= link_to 'Back', menus_path
