.container
  .h2.text-center
    Sign up
  .col-md-12
    .form-group.center-block.s{style:"width:400px"} 
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: :vertical_form) do |f|
        = f.error_notification
        .form-inputs
          = f.input :email, autofocus: true
          = f.input :name
          = f.input :password, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
          = f.input :password_confirmation
        .form-actions
          = f.button :submit, "Sign up", class: "btn-warning"
  .text-center
    = render "devise/shared/links"
