-if @menu
  %div 
    %h2 Menu for today:
    %div 
      %h3 First course:
      %table
        %thead
          %tr
            %th Name
            %th Price
        %tbody
          - @menu.first_course_dishes.each do |d|
            %tr
              %td= d.name
              %td= d.price
      %br
      %h3 Second course:
      %table
        %thead
          %tr
            %th Name
            %th Price
        %tbody
          - @menu.second_course_dishes.each do |d|
            %tr
              %td= d.name
              %td= d.price
      %br        
      %h3 Drinks:
      %table
        %thead
          %tr
            %th Name
            %th Price
        %tbody
          - @menu.drinks.each do |d|
            %tr
              %td= d.name
              %td= d.price
-else
  %div Menu for today isn't created yet!
  %div 
    = simple_form_for :menu, :url => url_for(:action => 'create', :controller => 'admin/menus'), :method => 'post' do |menu|
      %h3
        First course dishes:
      %div
        = menu.collection_check_boxes :first, @first, :id, :name do |b|
          .checkbox= b.label { b.check_box + b.text }
      %h3
        Second course dishes:
      %div
        = menu.collection_check_boxes :second, @second, :id, :name do |b|
          .checkbox= b.label { b.check_box + b.text }
      %h3
        Drinks:
      %div
        = menu.collection_check_boxes :drink, @drink, :id, :name do |b|
          .checkbox= b.label { b.check_box + b.text }
      %br
      %br
      = menu.submit "Create menu" 