-if @menu
  %div 
    %h2 Menu for today:
    %div 
      %h3 First course:
      %table.table-bordered
        %thead
          %tr
            %th Name
            %th Price
        %tbody
          - @menu.first_course_dishes.each do |d|
            %tr
              %td= d.name
              %td= d.price
      %h3 Second course:
      %table.table-bordered
        %thead
          %tr
            %th Name
            %th Price
        %tbody
          - @menu.second_course_dishes.each do |d|
            %tr
              %td= d.name
              %td= d.price      
      %h3 Drinks:
      %table.table-bordered
        %thead
          %tr
            %th Name
            %th Price
        %tbody
          - @menu.drinks.each do |d|
            %tr
              %td= d.name
              %td= d.price

  -if @orders.exists?
    %h2 Todays orders:
    %table.table-bordered
      %thead
        %tr
          %th User
          %th First course
          %th Second course
          %th Drink
          %th Total price
          %th
          %th

      %tbody
        - @orders.each do |order|
          %tr
            %td= order.user.name 
            %td= order.first_course_dish.name if order.first_course_dish
            %td= order.second_course_dish.name if order.second_course_dish
            %td= order.drink.name if order.drink
            %td= order.total_price.round(2)
            %td= link_to 'Show', controller: "admin/orders", action: :show, id:order.id, date:222, type: "one"
    %br
    %br
      Total price for day: 
      =@orders.inject(0) {|s, o| s+o.total_price}.round(2)



-else
  %h2 Menu for today isn't created yet!
  %div 
    = simple_form_for :menu, :url => url_for(:action => 'create', :controller => 'admin/menus'), :method => 'post' do |menu|
      %h3
        First course dishes:
      %div
        = menu.collection_check_boxes :first, @first, :id, :name do |b|
          .checkbox= b.label { b.check_box + b.text }
      %h3
        Second course dishes:
      %div
        = menu.collection_check_boxes :second, @second, :id, :name do |b|
          .checkbox= b.label { b.check_box + b.text }
      %h3
        Drinks:
      %div
        = menu.collection_check_boxes :drink, @drink, :id, :name do |b|
          .checkbox= b.label { b.check_box + b.text }
      %br
      %br
      = menu.submit "Create menu" 