%h3
  Orders for 
  = @orders[0].user.name
%table.table.table-bordered{"data-toggle"=>"table"}
  %thead
    %tr
      %th{"data-sortable"=>'true'} Date
      %th{"data-sortable"=>'true'} First course
      %th{"data-sortable"=>'true'} Second course
      %th{"data-sortable"=>'true'} Drink
      %th{"data-sortable"=>'true'} Total price
      %th 
    

  %tbody
    -if @orders
      - @orders.each do |order|
        %tr
          %td= order.date
          %td= order.first_course_dish.name
          %td= order.second_course_dish.name
          %td= order.drink.name
          %td= order.total_price_s
          %td= link_to 'Show', controller: "admin/orders", action: :show, date:"222", id:order.id, type: "one"
          

%br
%br
%div 
  Total price for day: 
  =@orders.inject(0) {|s, o| s+o.total_price}.round(2)


  
= link_to 'Back', :back