%h3
  Orders for 
  = @orders[0].date 
%table.table-bordered.table
  %thead
    %tr
      %th User
      %th First course
      %th Second course
      %th Drink
      %th Total price
      %th
  %tbody
    -if @orders
      - @orders.each do |order|
        %tr
          %td= order.user.name
          -if order.first_course_dish
            %td= order.first_course_dish.name
          -else
            %td
          -if order.second_course_dish
            %td= order.second_course_dish.name
          -else
            %td
          -if order.drink
            %td= order.drink.name
          -else
            %td  
          %td= order.total_price.round(2)
          %td= link_to 'Show', controller: "admin/orders", action: :show, id:order.id, type: "one"
- a=0
- @orders.each do |order|
  - a+=order.total_price
%br
%br
%h4
  Total price for day: 
  $
  = a.round(2)
= link_to 'Back', :back