%h1 
  Orders for 
  = @orders[0].date 
%table
  %thead
    %tr
      %th User
      %th First course
      %th Second course
      %th Drink
      %th Total price
      %th
      %th

  %tbody
    -if @orders
      - @orders.each do |order|
        %tr
          %td= order.user.name 
          %td= order.first_course_dish.name
          %td= order.second_course_dish.name
          %td= order.drink.name
          %td= order.total_price
          %td= link_to 'Show', order, type: "single"
- a=0
- @orders.each do |order|
  - a+=order.total_price
%br
%br
%div 
  Total price for day: 
  = a.round(2)


  
= link_to 'Back', :back