%p#notice= notice

%p
  %b Date:
  = @order.date
%ul
  %li Dish1:
  = @order.first_course_dish.name
  = @order.first_course_dish.price
  %li Dish2:
  = @order.second_course_dish.name
  = @order.second_course_dish.price
  %li Drink:
  = @order.drink.name
  = @order.drink.price
%p
  %b User:
  = @order.user.name
  = @order.user.email
  id:
  = @order.user.id
%p
  %b Total price:
  = @order.total_price

= link_to 'back','admin/orders'
