%h3
  Orders for 
  = @orders[0].user.name
%table.table.table-bordered
  %thead
    %tr
      %th Date
      %th First course
      %th Second course
      %th Drink
      %th Total price
      %th 
    

  %tbody
    -if @orders
      - @orders.each do |order|
        %tr
          %td= order.date
          %td= order.first_course_dish.name
          %td= order.second_course_dish.name
          %td= order.drink.name
          %td= order.total_price.round(2)
          %td= link_to 'Show', controller: "admin/orders", action: :show, date:"222", id:order.id, type: "one"
          

%br
%br
%div 
  Total price for day: 
  =@orders.inject(0) {|s, o| s+o.total_price}.round(2)


  
= link_to 'Back', :back