%h1 Your orders
-if @orders.exists?
  %table.table
    %thead
      %tr
        %th Date
        %th First course
        %th Second course
        %th Drink
        %th Total price
        %th
        %th

    %tbody
      - @orders.each do |order|
        %tr
          %td= order.date
          %td= order.first_course_dish.name if order.first_course_dish 
          %td= order.second_course_dish.name if order.second_course_dish
          %td= order.drink.name if order.drink
          %td= order.total_price_s
          %td= link_to 'Show', order
  %br
-else
  %h3 You have no orders yet!
= link_to 'Back', :back
