%h1 My orders

%table
  %thead
    %tr
      %th Date
      %th First course
      %th Second course
      %th Drink
      %th Total price
      %th
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.date
        %td= order.first_course_dish.name
        %td= order.second_course_dish.name
        %td= order.drink.name
        %td= order.total_price
        %td= link_to 'Show', admin/order
%br

= link_to 'Back', :back
