%p#notice= notice

%p
  %b Date:
  = @order.date
%p
  %b Dish:
  = @order.dish_id
%p
  %b User:
  = @order.user_id
%p
  %b Menu:
  = @order.menu_id

= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
