-flash.each do |name, msg|
  = content_tag :div, msg, id: "flash-#{name}"
%p#notice= notice
%p
  %b Date:
  = @order.date
%ul
  %li Dish1:
  -if @order.first_course_dish
    = @order.first_course_dish.name 
    = @order.first_course_dish.price
  -else
    %span No dish ordered!  
  %li Dish2:
  -if @order.second_course_dish
    = @order.second_course_dish.name 
    = @order.second_course_dish.price
  -else
    %span No dish ordered!
  %li Drink:
  -if @order.drink
    = @order.drink.name 
    = @order.drink.price
  -else
    %span No drink ordered!
%p
  %b User:
  = @order.user.name
  = @order.user.email
  id:
  = @order.user.id
%p
  %b Total price:
  = @order.total_price

= link_to 'back', root_path
