-flash.each do |name, msg|
  = content_tag :div, msg, id: "flash-#{name}"
%p#notice= notice
%p
  %b Date:
  = @order.date
%ul
  %li Dish1:
  = @order.first_course_dish.name if @order.first_course_dish
  = @order.first_course_dish.price if @order.first_course_dish
  %li Dish2:
  = @order.second_course_dish.name if @order.second_course_dish
  = @order.second_course_dish.price if @order.second_course_dish
  %li Drink:
  = @order.drink.name if @order.drink
  = @order.drink.price if @order.drink
%p
  %b User:
  = @order.user.name
  = @order.user.email
  id:
  = @order.user.id
%p
  %b Total price:
  = @order.total_price

= link_to 'back', root_path
