%p#notice= notice

%p
  %b Date:
  = @order.date
%p
  %b First course dish:
  = @order.first_course_dish_id
%p
  %b Second course dish:
  = @order.second_course_dish_id
%p
  %b Drink:
  = @order.drink_id
%p
  %b User:
  = @order.user_id
%p
  %b Menu:
  = @order.menu_id

= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
