%h2
  Log in
%div.center-block.s{style:"width:200px"}  
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: "inline_form") do |f| 
    .form-inputs
      = f.input :email, required: false, autofocus: true 
      = f.input :password, required: false 
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable? 
    .form-actions
      = f.button :submit, "Log in", class: "btn-warning"
= render "devise/shared/links" 
