%h3 Listing users
%table.table-bordered.table{"data-toggle"=>"table"}
  %thead
    %tr
      %th{"data-sortable"=>'true'} Name
      %th{"data-sortable"=>'true'} Email
      %th{"data-sortable"=>'true'} Role
      %th{"data-sortable"=>'true'} Orders
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.role
        -if user.has_orders?
          %td= link_to "orders", controller: "admin/orders", action: "find_by_user",  user_id: user.id
        -else
          %td
%br
= link_to 'Back', '/admin'
