%h3 Listing users
%table.table-bordered.table
  %thead
    %tr
      %th Name
      %th Email
      %th Role
      %th Orders
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.role
        -if user.has_orders?
          %td= link_to "orders", controller: "admin/orders", action: "find_by_user",  user_id: user.id
        -else
          %td

        / %td= link_to 'Show', admin_user_path, :
        / %td= link_to 'Edit', edit_admin_user_path(user)
        / %td= link_to 'Destroy', admin_user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= link_to 'Back', '/admin'
