!!! 5
%html
  %head
    %title
      Menu
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag :defaults 
    = csrf_meta_tags 
  %body
    =render "shared/header"
    .container
      =render "layouts/flash_messages"
      = yield
    %footer.footer.c{style:"background-color: grey"}
      .container
        lildd
