!!! 5
%html
  %head
    %title
      Menu
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag :defaults 
    = csrf_meta_tags 
  %body
    =render "shared/header"
    .container
      =render "layouts/flash_messages"
      = yield
    %footer.footer
    .col-md-4
      Created by Olekii Korychkovskyi, 2015
    .col-md-4
      %a{href:"mailto:alex.korichkovskiy@gmail.com", style:"color:white"}
        alex.korichkovskiy@gmail.com
    .col-md-4
      %a{href:"skype:alex.korich?call", style:"color:white"}
        skype:alex.korich