
%table.table-bordered.table{"data-toggle"=>"table"}
  %thead
    %tr
      %th{"data-sortable"=>'true'} Name
      %th{"data-sortable"=>'true'} Type
      %th{"data-sortable"=>'true'} Price
  %tbody
    - @dishes.each do |d|
      %tr
        %td=link_to d.name, d
        %td= d.type
        %td= d.price_s
%br
%div 
%h3 New dish:
.col-md-8.md-offset-2
  = simple_form_for :dish, html: {multipart: true}, :url => url_for(action: 'create', controller: 'admin/dishes'), :method => 'post' do |dish|
    = dish.input :name, label: 'Dish name'
    = dish.input :type, collection: ["FirstCourseDish", "SecondCourseDish", "Drink"]
    = dish.input :short_description, as: :string
    = dish.input :description, as: :text
    = dish.input :quantity_description, as: :string
    = dish.input :quantity, as: :integer
    = dish.input :price, as: :float
    = dish.input :avatar, as: :file, class: "btn-warning btn center-block"
    = dish.submit "Create dish", class: "btn-warning btn center-block"